/* /////////////////0000000///////////////// */

/* Drop down + Menu drop down + Button Color */

/* /////////////////0000000///////////////// */

.dropdown {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  font-size: 20px;
	text-align: left;
}

.dropdown-menu {
/* width:10px;   This can make it wider but not thinner */
float: left; /* Giam */
top: 43px; /* Giam */
}

.btn {
background-color: rgb(211, 211, 211);
color: black;
border-color: black;
font-size: 12px; 
text-align: center;
vertical-align: middle;
height: 20px;
line-height: 1px;
}

/* /////////////////0000000///////////////// */

.container {
  margin-left: 60px;
  margin-right: 60px;
}
.jumbotron {
  background-image: url(https://thumbs.gfycat.com/AthleticSimpleHuemul.webp);     
  /* background-image: url(https://i.gifer.com/SkoL.gif); */
  background-size: cover; 
  color: white; /* Giam */
	margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-right: 60px;  	
  padding: -10px;
  background-color: lightgray; 

}

.form-group {
  text-align: left;
}

.table-striped, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

p1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
	/* padding: 20px; */
} 

p {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
	/* padding: 20px; */
} 

h1 {
  font-size: 20px;
  margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;	
}

h2 {
  font-size: 30px;
  margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;	
} 