html,

body {
  padding: 0;
  margin: 0;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: green;
}

.jumbotron {
  font-size: 20px;
	margin-top: 0px;
  margin-bottom: 10px;
  /* padding-right: 15px;
  padding-left: 15px; */
	text-align: center;
	padding: -80px;

}

.form-group {

  text-align: left;
}

p {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
	/* padding: 20px; */
} 

h1 {
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
	/* padding: -50px; */
}