<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="dropdown">
      <button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown">Navigation
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="hottest">Hot Test</a></li>
        <li><a href="barchart">Bar Chart</a></li>
        <li><a href="piechart">Pie Chart</a></li>     
      </ul>
    </div>   
    

    <div class="container">
      <div class="row">
        <div class="jumbotron text-center">
          <h1>Are You Hot?</h1>
          <p1>Home Page</p1>
        </div>
      </div>   
    </div>
      
        <div class="row">
          <div class="col-md-offset-1 col-md-10">
            <h2>Welcome to the "Are You Hot" Machine Learning Project!</h2><br>
            <p>Brought to you by Adela Garza, Eltahir Gotar, Leo Zambrano, and Giam Sigaud.</p><br>
            <p>This project utilizes the IMDb "100 Most Beautiful People on the Planet!" <a class="btn btn-primary btn-lg" href="https://www.imdb.com/list/ls066164634/"target="_blank" role="button">Learn More</a> and the IMDb "Ugly Celebrities" <a class="btn btn-primary btn-lg" href="https://www.imdb.com/list/ls064405717/" target="_blank" role="button">Learn more</a> to model "Hot" or "Not".  </p><br> 
            <p>For this project, we took the physical characteristics of the 200 celbrities and created a database.</p><br>
            <p>The characteristics included, height, weight, eye color, hair color, age, gender, tattoos, distinctive features, zodiac sign.</p><br>
            <p>We used the database data to build a machine model that categorizes input characteristics from a user and decides whether the input data reflects "Hot" or "Not".</p><br>
            <p>We utilized 6 of the characteristics to train the model. The 6 features used were height, weight, age, eye color, gender, and distinctive features.</p><br>
            <p>NAVIGATION: Use the navigation button at the top/left to take the test, or to learn more about the interactive charts.</p><br>
            <p>IMPORTANT! The model is NOT an indicator of true attractiveness, as that is subjective, rather the model makes predictions based on the two IMDB lists.</p><br>
            <p><a class="btn btn-primary btn-lg" href="hottest"role="button">Take the Test!</a></p>
          </div>
      </div>  
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="./static/js/table.js"></script>

  </body>
</html>
