<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Heat Index</title>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <body>
        <div class="dropdown">
            <button class="btn btn dropdown-toggle" type="button" data-toggle="dropdown">Results
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="dashboard.html">Dashboard</a></li>
              <li><a href="barchart.html">Bar Chart</a></li>
              <li><a href="piechart">Pie Chart</a></li>
            </ul>
          </div>    
        <div class="container">
            <div class="jumbotron" style="text-align: center">
                <h1>Hot or Not</h1>
                <p>Enter your details below!</p>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <form method="POST" action="/" role="form", name="hotform">
                        <div class="form-group">
                            <label>Sex</label>
                            <input type="text" class="form-control" name="sex" placeholder="Sex">
                        </div>
                        <div class="form-group">
                            <label>Eye Color</label>
                            <input type="text" class="form-control" name="eye color" placeholder="Eye Color">
                        </div>
                        <!-- <div class="form-group">
                            <label>Hair Color</label>
                            <input type="text" class="form-control" name="hair color" placeholder="Hair Color">
                        </div> -->
                        <div class="form-group">
                            <label>Distinctive Features(Lips/Eyes/Jawline..etc)</label>
                            <input type="text" class="form-control" name="distinctive features" placeholder="Distinctive Features">
                        </div>
                        <div class="form-group">
                            <label>Height</label>
                            <input type="text" class="form-control" name="zodiac sign" placeholder="Zodiac Sign">
                        </div>
                        <div class="form-group">
                            <label>Weight</label>
                            <input type="text" class="form-control" name="tattoo body art" placeholder="Tattoo Body Art">
                        </div>
                        <div class="form-group">
                            <label>Age</label>
                            <input type="text" class="form-control" name="age" placeholder="Age">
                        </div>
                        <input type="submit" value="submit" class="btn btn-default">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h1>{{ Hot or Not }}</h1>
                </div>
            </div>
        </div>        
    </body>
</html>
